.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 999;
    padding: 40px 20px 20px;

  }


.modal-content {
    width: 40%;
    height: 55%;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* font-size: 2rem; */
  }

  @media (min-width: 500px) {
    .modal .modal-content {
      width: 40%;
      height: 60%;
    }
  }
   @media (min-width: 992px) {
    .modal .modal-content  {
      width: 50%;
      height: 65%;
    }
  }
  @media (min-width: 1200px) {
    .modal .modal-content  {
       width: 50%;
       height: 65%;
    }
  }  


  .modal-btn{
    cursor: pointer;
  }

  .modal-btn:hover{
   color: transparent
  }

